<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <script th:src="@{/js/jquery2.1.4.min.js}"></script>
    <title>Title</title>
</head>
<body>
邮箱：<input type="email" id="userEmail"><button onclick="getCodeByEmail()">发送验证码</button><br>
验证码：<input type="text" id="emailCode"><br>
<button onclick="getPwdByEmail()">下一步</button><br>
手机：<input type="tel" id="userPhone"><button onclick="getCodeByPhone()">发送验证码</button><br>
验证码：<input type="text" id="phoneCode"><br>
<button onclick="getPwdByPhone()">下一步</button>

</body>
<script th:src="@{/js/registerApp.js}" ></script>
</html>