<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <script th:src="@{/js/jquery2.1.4.min.js}"></script>
</head>
<body>


手机：<input type="text" id="userPhone"><button onclick="sendLoginPhonePwd()">发送验证码</button><br>
验证码：<input type="text" id="userVerifyCode"><br>
<button onclick="loginByPhoneAndCode()">app登录</button><br>
邮箱：<input type="text" id="userEmail"><br>
密码：<input type="password" id="userPwd"><br>
<button onclick="loginByEmailAndPwd()">app登录</button><br>

<a href="regByPhone.html">手机注册</a>
<a href="regByEmail.html">邮箱注册</a>

忘记密码？<a href="findPwd.html">找回密码</a>
</body>
<script th:src="@{/js/registerApp.js}" ></script>
</html>